<html>
{{ "<!-- Header -->" | safeHTML }}
    {{ partial "header.html" . }}

    <body>

    {{ "<!-- Wrapper -->" | safeHTML }}
        <div id="wrapper">

        {{ partial "nav.html" . }}

        {{ "<!-- Main -->" | safeHTML }}
            <div id="main">

                <section id="banner" class="style1">
                    <div class="inner">
                        <span class="image">
                            <img src="{{ .Site.Params.baseURL }}/hugo/img/blogs/{{ .Params.image }}" alt="" />
                        </span>
                        <header class="major">
                            <h1>{{ .Title }}</h1>
                        </header>
                        <div class="content">
                            {{ .Content }}
                        </div>
                    </div>
                </section>

                <section id="two" class="spotlights">
               <!--     {{ range (.Paginator 5).Pages }} -->
                    <section>
                        <a href="{{ .Slug }}" class="image">
							<img src="{{ .Site.Params.baseURL }}/hugo/img/blogs/{{ .Params.image }}" alt="" data-position="center center" />
						</a>
                        <div class="content">
                            <div class="inner">
                                <header class="major">
                                    <h3>{{ .Title }}</h3>
                                </header>
                                <p>{{ .Description }}</p>
                                <ul class="actions">
                                    <li><a href="{{ .Slug }}" class="button">Lees meer</a><strong><span style="text-transform: uppercase; font-size:0.7em; padding-left: 2em;"><i class="fa fa-calendar"></i> {{ default (i18n "dateFormat") .Site.Params.dateformat | .Date.Format | i18n "postedOnDate" }}</span></strong></li>
                                </ul>
                            </div>
                        </div>
                    </section>
                    {{ end }} 
                    
                     {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
                   <section style="padding: 3vw">
            {{ if .Paginator.HasPrev }}
                <a href="{{ .URL }}page/{{ .Paginator.Prev.PageNumber }}" class="button small" style=" float:left;"><i class="fa fa-chevron-left"></i> {{ i18n "newerPosts" }}</a>
            {{ end }}
            {{ if .Paginator.HasNext }}
                <a href="{{ .URL }}page/{{ .Paginator.Next.PageNumber }}" class="button small" style="float:right;">{{ i18n "olderPosts" }} <i class="fa fa-chevron-right"></i></a>
            {{ end }}
            </section>
          
        {{ end }}
            </section>
            </div>
           
        {{ "<!-- Footer -->" | safeHTML}}
			{{ if .Site.Params.footer.enable }}
				{{ partial "footer.html" . }}
            {{ end }}
        
        </div>

    {{ "<!-- Scripts -->" | safeHTML}}
        {{ partial "js.html" . }}
        
    </body>
</html>
