<!DOCTYPE HTML>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
	{{ with .Site.Params.name }}<meta name="author" content="{{ . }}">{{ end }}
	{{ .Hugo.Generator }}
	<title>{{ .Title }}{{ if not .IsHome }} &middot; {{ .Site.Title }}{{ end }}</title>
	{{ "<!-- Stylesheets -->" | safeHTML }}
	<!--[if lte IE 8]><script src="js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="{{ "css/main.css" | absURL}}"/>
	<!--[if lte IE 9]><link rel="stylesheet" href="{{ "css/ie9.css" }}"/><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="{{ "css/ie8.css" }}"/><![endif]-->

	{{ range .Site.Params.custom_css }}
		<link rel="stylesheet" href="{{ . | absURL }}">
	{{ end }}

	{{ "<!-- Custom Fonts -->" | safeHTML }}
	<link href="{{ "css/font-awesome.min.css" | absURL }}" rel="stylesheet" type="text/css">

	{{ with .Site.Params.favicon }}
	<link rel="shortcut icon" type="image/x-icon" href="{{ . | absURL }}">
	<link rel="icon" type="image/x-icon" href="{{ . | absURL }}">
	{{ end }}

	{{ "<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->" | safeHTML }}
	{{ "<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->" | safeHTML }}
	{{ "<!--[if lt IE 9]>" | safeHTML }}
	<script src="js/ie/html5shiv.js"></script>
	<script src="js/ie/html5shiv.jsrespond.min.js"></script>
	{{ "<![endif]-->" | safeHTML }}
	
	<style>
	    #ban {
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    background-image: url("{{ .Site.Params.baseURL }}/hugo/img/blogs/{{ .Params.image }}");
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    padding: 6em 0 2em 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 0 !important;
    cursor: default;
    height: 60vh;
    margin-bottom: -3.25em;
    margin-top: 3.25em;
    max-height: 32em;
    min-height: 22em;
    position: relative;
    top: -3.25em;
}

#ban.major {
    height: 20vh;
    min-height: 10em;
    max-height: 50em;
}

	</style>
</head>


    <body>

    {{ "<!-- Wrapper -->" | safeHTML }}
        <div id="wrapper">

            {{ partial "nav.html" . }}
            
            {{ "<!-- Banner -->" | safeHTML}}
    <section id="ban" class="major">
        <div class="inner">
           <!-- <header class="major">
                <h1>{{ .Title }}</h1>
            </header>
            <div class="content">
                <p>{{ .Date }}</p>
            </div> -->
        </div>
    </section>
    
    <div id="main" class="alt">

                <!-- One -->
                    <section id="one">
                        <div class="inner">
                            <header class="major">
                                <strong><span style="text-transform: uppercase; font-size:0.7em; padding-left: 2em;"><i class="fa fa-calendar"></i>  {{ default (i18n "dateFormat") .Site.Params.dateformat | .Date.Format | i18n "postedOnDate" }} {{ if .Params.Week }}- {{ .Params.Week }} {{ end }}</span></strong>
                                <h1>{{ .Title}}</h1>
                            </header>
                            {{ .Content }}
                             {{ if .PrevInSection }}
          <div style="float:left;">
            <a href="{{ .PrevInSection.Permalink }}" class="button icon" data-toggle="tooltip" data-placement="top" title="{{ .PrevInSection.Title }}"><i class="fa fa-chevron-left"></i> {{ i18n "previousPost" }}</a>
          </div>
        {{ end }}
        {{ if .NextInSection }}
          <div style="float:right;">
            <a href="{{ .NextInSection.Permalink }}" class="button icon" data-toggle="tooltip" data-placement="top" title="{{ .NextInSection.Title }}">{{ i18n "nextPost" }} <i class="fa fa-chevron-right"></i></a>
          </div>
        {{ end }}<br/ ><br />
                        </div>
                        
      



                    </section>
            </div>
            
        {{ "<!-- Footer -->" | safeHTML}}
            {{ if .Site.Params.footer.enable }}
                {{ partial "footer.html" . }}
            {{ end }}
        </div>

    {{ "<!-- Scripts -->" | safeHTML}}
        {{ partial "js.html" . }}

    </body>
</html>